<div class="row">
    <div class="col-8 offset-2">
        <form action="/products/save-add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Tên sản phẩm</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Tên sản phẩm</label>
                <select name="cate_id" class="form-control">
                    {{#each cates}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="">Ảnh sản phẩm</label>
                <input type="file" name="image" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Giá sản phẩm</label>
                <input type="number" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Mô tả</label>
                <textarea name="detail" class="form-control" rows="10"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-success">Lưu</button>
                <a href="/" class="btn btn-sm btn-danger">Hủy</a>
            </div>
        </form>
    </div>
</div>